# --- Python & Environnement ---
__pycache__/
*.pyc
venv/
.env

# --- Données Audio & TextGrids (Trop lourds / Confidentiels) ---
raw_audio/
processed_audio_16k/
dataset_final/
original_textgrids/
output_textgrids/
archives_outils/

# --- Fichiers temporaires ---
*.wav
*.TextGrid
*.csv