# --- Python & Environnement ---
__pycache__/
*.pyc
venv/
.env

# --- Données Audio & TextGrids (Trop lourds / Confidentiels) ---
0_raw_data/
1_data_prepared/
2_models/
3_results/
OLD/

# --- Fichiers temporaires ---
*.wav
*.TextGrid
*.csv